<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="">
      <i class="fa-solid fa-book-open me-2"></i>
      BookVault
    </a>

    <div class="d-flex align-items-center gap-4">
      <a routerLink="/dashboard" class="btn btn-secondary btn-sm link-style">
        <i class="fa-solid fa-house me-1"></i>
        Books
      </a>

      <a routerLink="/quotes" class="nav-link text-light">
        <i class="fa-solid fa-quote-left me-1"></i>
        My Quotes
      </a>

      <button class="btn text-light">
        <i class="fa-solid fa-gear"></i>
      </button>

      <button class="btn btn-secondary btn-sm link-style">
        <i class="fa-solid fa-right-from-bracket me-1"></i>
        Logout
      </button>
    </div>
  </div>
</nav>
<main>
  <div class="book-main container-fluid mt-5">
    <h4 class="display-7">All Books</h4>
    <button class="btn"><i class="fa-solid fa-plus"></i>Add New Book</button>
  </div>
  <app-book-card></app-book-card>
</main>
