html , body{

 
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #0D1117;
  font-family: 'Inter', sans-serif;
}

app-root {

  width: 100%;
  min-height: 100vh;
}

:root{

  --body-bg:#0D1117;
  --text-white: #E6EDF3;
  --text-light-gray:#7D8590;
  --bg-dark-gray:#161B22;
  --border-gray: 1px solid #30363D;
  --bg-blue:#0D6EFD;

}
